.navbar {
  width: 100%;
  height: 50px;
  background: lightskyblue;
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  margin-left: 50px;
}

.navbar ul li {
  display: inline;
  margin-left: 20px;
}

.button {
  text-decoration: none;
  color: #f4f4f4;
  font-weight: 700;
}

.activebutton {
  color: cadetblue;
}
