<div class="navbar">
  <ul>
    <li>
      <a
        class="button"
        routerLink="/about"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        >About me</a
      >
    </li>
    <li>
      <a
        class="button"
        routerLink="/home"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li>
      <a
        class="button"
        routerLink="/groups"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        >Groups</a
      >
    </li>
  </ul>
</div>
