.form-page {
  background: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Контейнер формы */
.form-container {
  background-color: #ffffff; /* белый фон формы */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  width: 500px;
}

/* Заголовок формы */
h2 {
  text-align: center;
  color: #4a4a4a; /* нейтральный текст */
  margin-bottom: 15px;
}

/* Метки */
label {
  display: block;
  font-size: 14px;
  color: #6d6d6d;
  margin-bottom: 5px;
}

/* Поля ввода и select */
input[type="text"],
select,
textarea {
  /*width: 100%;*/
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #dcdcdc; /* светлая рамка */
  border-radius: 4px;
  background-color: #f7f7f7; /* пастельный тон */
  font-size: 14px;
  color: #4a4a4a;
}

/* Убрать возможность изменения размера текстового поля */
textarea {
  resize: none;
}

/* Кнопка отправки */
button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #a3c1ad; /* пастельный зеленый */
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Ховер эффект для кнопки */
button:hover {
  background-color: #8bb096; /* чуть более темный зеленый */
}

/* Дополнительные стили для формы */
form {
  display: flex;
  flex-direction: column;
}
