/* Контейнер для формы */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
  background-color: #e8f5fe; /* Светло-голубой фон */
}

p {
  font-size: 24px;
  font-weight: bold;
  color: #1565c0; /* Синий цвет текста */
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Контейнер формы */
.my-form {
  background-color: #ffffff; /* Белый фон формы */
  border: 2px solid #bbdefb; /* Голубая рамка */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
  padding: 20px 30px;
  width: 400px;
  max-width: 90%;
}

/* Стили для групп полей */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #1565c0; /* Синий цвет для меток */
}

.form-group input {
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #bbdefb; /* Голубая рамка */
  border-radius: 5px;
  box-sizing: border-box;
}

/* Материальный select */
mat-form-field {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  margin-left: 16px;
}

mat-label {
  color: #1565c0;
}

/* Кнопка */
button[type="submit"] {
  width: 100%;
  padding: 10px 0;
  background-color: #1565c0; /* Синий фон */
  color: #ffffff; /* Белый текст */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0d47a1; /* Более темный синий при наведении */
}
