<div style="margin: 20px">
  <button (click)="handlerClick()">Добавить нового студента</button>
  <h2>Выберите группу</h2>
  <mat-form-field appearance="fill" style="width: 300px; height: 70px">
    <mat-label>Группы</mat-label>
    <mat-select (selectionChange)="onGroupChange($event.value)">
      <mat-option *ngFor="let group of groups" [value]="group.id">
        {{ group.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="students.length > 0" style="margin-top: 20px">
    <h3>Список студентов</h3>
    <ul>
      <li
        *ngFor="let student of students"
        [birthYear]="student.birthYear"
        appItalic
      >
        {{ student.id }}. {{ student.fullName }}.
        {{ student.birthYear | birthCentury }}
        <button (click)="navigateToEdit(student.id)">
          Редактировать студента
        </button>
      </li>
    </ul>
  </div>

  <div
    *ngIf="selectedGroupId && students.length === 0"
    style="margin-top: 20px"
  >
    <p>Студенты отсутствуют в выбранной группе.</p>
  </div>
</div>
