<div class="main-section">
  <div class="card-info">
    <h4>About Me</h4>
    <p>
      Hi! My name is Ilya Petrenkov. I am a developer from Samara. I am
      interested in the IT field and everything related to it. I have a
      bachelor's degree from Samara University and am developing neural network
      models for analyzing laboratory data.
    </p>
    <h4>Scientific interests</h4>
    <ul>
      <li>Machine learning/neural networks.</li>
      <li>Prognosis of pathologies.</li>
      <li>Analysis of laboratory data.</li>
    </ul>
    <h4>Hobby</h4>
    <ul>
      <li>programming;</li>
      <li>music;</li>
      <li>football;</li>
    </ul>
  </div>
  <div class="card-photo">
    <img src="wine.jpg" alt="photo with wine" width="250px" />
  </div>
</div>
<div class="btn-container">
  <button class="btn" (click)="navigateToGroup()">Go to my group</button>
</div>
