<div class="list-container">
  <h2>Список задач</h2>
  <div class="filters-container">
    <label>Тип:</label>
    <select [(ngModel)]="filters.type" (change)="applyFilters()">
      <option value="">Все</option>
      <option value="bug">Баг</option>
      <option value="task">Таск</option>
    </select>

    <label>Приоритет:</label>
    <select [(ngModel)]="filters.priority" (change)="applyFilters()">
      <option value="">Все</option>
      <option value="critical">Критический</option>
      <option value="high">Высокий</option>
      <option value="medium">Средний</option>
      <option value="low">Низкий</option>
    </select>

    <label>Исполнитель:</label>
    <input
      type="text"
      [(ngModel)]="filters.assignee"
      (input)="applyFilters()"
    />
    <button class="add-btn" (click)="addTask()">Создать</button>
  </div>
  <table class="task-table">
    <thead>
      <tr>
        <th>№</th>
        <th>Тип</th>
        <th>Приоритет</th>
        <th>Название</th>
        <th>Исполнитель</th>
        <th>Создатель</th>
        <th>Статус</th>
        <th>Последнее изменение</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of filteredTasks; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ task.type }}</td>
        <td class="priority {{ task.priority }}">{{ task.priority }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.assignee }}</td>
        <td>{{ task.creator }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.updatedAt | date : "short" }}</td>
        <td>
          <button class="action-btn edit-btn" (click)="editTask(task.id)">
            Изменить
          </button>
          <button class="action-btn delete-btn" (click)="deleteTask(task.id)">
            Удалить
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
